name: novel_reader
description: A beautiful novel reading app
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.6
  
  file_picker: ^8.1.2
  path_provider: ^2.1.1
  shared_preferences: ^2.2.2
  uuid: ^4.3.3
  
  google_fonts: ^6.1.0
  
  provider: ^6.1.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1

flutter:
  uses-material-design: true